/*  DROPDOWN NAVIGATION   */
.dropdown-menu {
  width:200px;
  
}
.dropdown-menu a {
  font-size:16px;
  padding:10px !important;
  color:#00B285 !important;
}
.dropdown-menu a i {
  font-size:20px;
  width:25px;
  height:20px;
  color:#00B285 !important;
}
.dropdown-menu li {
}
.dropdown-submenu {
    position: relative;
}
.navbar-right .dropdown-menu-thirdlevel{
	margin-right:197px;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    width:1000px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-left: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu>.dropdown-menu h3 {
  font-size:15px;
  text-align:center;
  width:40%;
}
.dropdown-submenu>.dropdown-menu a {
  width:20%;
  text-align:center;
}
.dropdown-submenu>.dropdown-menu li a {
  padding:0px !important;
}

.dropdown-submenu.pull-left {
    float: none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color:#FFF !important;
	color:#00B285 !important;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-submenu>.dropdown-menu>.topic h3 {
	width:100% !important;
  font-weight:bold;
}
.topic {
  width:20%;
  float:left;
  text-align:left;
  position:relative;
  list-style:none;
  margin-left:-10px;
}
.topic li {
  margin-left:15px;
  margin-top:-5px;
}
.topic li a {
  font-size:15px;
  color:#000;
  margin-top:-5px;
}
.topic li a:hover {
  text-decoration:underline;
}
hr {
  margin-top:-5px !important;
}

/* PRE */
.code-section {
    display: block !important;
}

/* UPLOAD */
.awesome-bg {
    width:100%;
    height:100%;

    padding:10px;
    border-radius:5px;
}
.form-group label {
    color:#FFF !important;
}
.form-group .form-text {
    color:#eeeeee !important;
}